:host {
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding: 2rem 12rem;
  justify-content: start;
  flex-direction: column;
  background-color: #09090b;
  gap: 2rem;
}

.auth-split {
  display: grid;
  width: 100%;
  min-height: 45rem;
  border-radius: 12px;
  border: 1px solid #27272A;
  grid-template-columns: 1fr 1fr;

  & .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    border-right: 1px solid #27272A;
    background-color: #0f0f12;
    border-radius: 12px 0px 0px 12px;

    & .banner-header {
      gap: 2rem;
      display: flex;
      flex-direction: column;

      & .ico {
        color: #a78bfa;
      }

      & .title {
        color: #FAFAFA;
        font-size: 24px;
        font-weight: 600;
      }

      & .subtitle {
        color: #FAFAFA;
        font-size: 45px;
        font-weight: 700;

        & span {
          display: block;
        }
      }

      & .description {
        color: #A1A1AA;
        font-size: 1.5rem;
        font-weight: 600;
        max-width: 45ch;
      }
    }

    & .banner-footer {
      gap: 1rem;
      display: flex;
      flex-direction: column;

      & .item {
        gap: 1rem;
        display: flex;
        align-items: start;
        justify-content: start;

        & svg.green {
          color: #34D399;
        }

        & svg.purple {
          color: #A78BFA;
        }

        & span {
          color: #FAFAFA;
          font-weight: 600;
        }

        & p {
          color: #A1A1AA;
        }
      }
    }
  }

  & .content {
    gap: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121215;
    border-radius: 0px 12px 12px 0px;

    & .title {
      color: #FAFAFA;
      font-size: 24px;
      font-weight: 600;
    }

    & .subtitle {
      color: #A1A1AA;
      font-weight: 400;
      font-size: 1rem;
    }

    & .container-credentials {

      & .container-data {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .container-input {
          display: flex;
          flex-direction: column;

          & input {

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
              -webkit-box-shadow: 0 0 0 30px #0F0F12 inset !important;
              -webkit-text-fill-color: #71717A !important;
              transition: background-color 5000s ease-in-out 0s;
            }
          }

          & input,
          select {
            width: 100%;
            height: auto;
            outline: none;
            color: #71717A;
            border-radius: 8px;
            background: #0F0F12;
            padding: 0.8rem 0.75rem;
            border: 1px solid #27272A;
          }

          & input[type="date"] input::-webkit-inner-spin-button,
          input::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
          }


          & select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:open {
              border-bottom: none;
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 0px;
            }

          }

          & label {
            font-size: 1rem;
            font-weight: 600;
            color: #A1A1AA;
            font-family: inherit;
            margin-bottom: 8px;
          }

          & .select-container {
            display: flex;
            position: relative;
            align-items: center;

            & .select-ico {
              top: 1rem;
              right: 0.75rem;
              position: absolute;
            }
          }
        }
      }
    }

    & .footer {
      display: flex;
      flex-direction: column;

      & .save-container {
        padding-bottom: 3rem;
        border-bottom: 1px solid #27272A;
      }

      & .save-btn {
        width: 100%;
        display: flex;
        color: #0A0012;
        font-size: 1rem;
        font-weight: 700;
        border-radius: 8px;
        background: #A78BFA;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0 10px 15px -3px rgba(167, 139, 250, 0.20), 0 4px 6px -4px rgba(167, 139, 250, 0.20);

        &:enabled:hover {
          cursor: pointer;
          color: #f1f1f1;
          background-color: #7C3AED;
        }

        &:disabled {
          opacity: 50%;
          cursor: not-allowed;
        }
      }

      & .cancel-btn {
        color: #A1A1AA;
        gap: 1rem;
        display: flex;
        padding-top: 2rem;
        flex-direction: column;
        align-items: center;

        & a {
          color: #A78BFA;
          font-weight: 700;
        }
      }
    }
  }
}