<div class="container-steps">
  @for (item of this.steps(); track item.id) {
  <div [class.active]="item.isValid" class="container-step">
    <div class="flex flex-col justify-center items-center shrink-[0]">
      <div class="step-content">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="item.icon" />
        </svg>
      </div>
      <span>{{item.label}}</span>
    </div>
  </div>
  }
</div>