:host {
  background-color: #09090b;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #27272A;
}

.header-content {
  gap: 1rem;
  display: flex;
  margin-bottom: 2rem;
  align-items: center;


  & .icon-container {
    width: 4rem;
    height: 4rem;

    & .icon {
      width: 4rem;
      height: 4rem;
      border-radius: 4px;
    }
  }

  & .container-title {
    & .title {
      color: zinc;
      font-weight: 600;
      font-size: 1.5rem;
      font-family: 'Geist', Arial, sans-serif;
    }

    & .subtitle {
      color: #71717A;
      font-size: 1rem;
      font-weight: 600;
      font-family: 'Liberation Serif', Arial, sans-serif;
    }
  }
}

.navigation {
  list-style: none;

  & .nav-item {
    gap: 0.5rem;
    display: flex;
    padding: 1rem 0;
    cursor: pointer;
    align-items: center;

    &:hover a {
      color: #A78BFA;
    }

    & a {
      color: white;
      font-weight: 600;
      text-decoration: none;
    }

    &:hover {
      color: #A78BFA;
      border-right: 2px solid #A78BFA;
      background-color: rgba($color: #A78BFA, $alpha: 0.03);
    }
  }
}

footer {
  position: relative;

  & .menu {
    width: 100%;
    position: absolute;
    border-radius: 12px;
    border: 1px solid #27272A;
    bottom: calc(100% - 10px);
    background-color: #121215;

    & ul {
      display: flex;
      flex-direction: column;

      & li {
        gap: 1rem;
        padding: .8rem 1rem;
        display: flex;
        color: #A1A1AA;
        cursor: pointer;
        font-weight: 600;
        align-items: center;

        &:hover {
          background-color: rgba($color: #A1A1AA, $alpha: 0.1);
        }

        &.exit-btn {
          color: #EF4444;
        }
      }
    }
  }

  .profile {
    gap: 1rem;
    display: flex;
    padding-top: 2rem;
    border-radius: 2px;
    border-top: 1px solid #27272A;
    user-select: none;

    & .container-photo {
      cursor: pointer;
      max-width: 3rem;
      max-width: 3rem;
      border-radius: 50%;

      & img {
        border-radius: 50%;
      }
    }

    & .container-data {
      & .name {
        color: #FAFAFA;
        font-weight: 600;
      }

      & .role {
        color: #71717A;
      }
    }
  }
}