:host {
  background-color: #09090b;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #27272A;
}

.header-content {
  margin-bottom: 2rem;

  .title {
    color: gray;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .subtitle {
    color: zinc;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}

.navigation {
  list-style: none;

  li {
    cursor: pointer;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    a {
      color: white;
      text-decoration: none;
    }

    &:hover {
      a {
        color: purple;
      }

      border-right: 2px solid white;
    }
  }
}

footer {
  .profile {
    gap: 1rem;
    display: flex;
    padding-top: 2rem;
    border-radius: 2px;
    border-top: 1px solid #27272A;

    & .container-photo {
      max-width: 3rem;
      max-width: 3rem;
      border-radius: 50%;

      & img {
        border-radius: 50%;
      }
    }

    & .container-data {
      & .name {
        color: #FAFAFA;
        font-weight: 600;
      }

      & .role {
        color: #71717A;
      }
    }
  }
}