<div>
  <header class="header-content">
    <div class="icon-container">
      <img src="/sidenav-icon.png" alt="" class="icon">
    </div>
    <div class="container-title">
      <h1 class="title">Obsidian OPS</h1>
      <h2 class="subtitle">Comando Militar</h2>
    </div>
  </header>
  <aside>
    <nav>
      <ul class="navigation">
        @for (item of this.models(); track $index) {
        <li class="nav-item">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="item.icon" />
          </svg>
          <a [routerLink]="item.router">{{item.label}}</a>
        </li>
        }
      </ul>
    </nav>
  </aside>
</div>
<footer>
  <div class="profile">
    <div class="container-photo">
      <img [src]="this.profileData()?.profile?.photo?.downloadUri" alt="">
    </div>
    <div class="container-data">
      <p class="name">{{this.profileData()?.profile?.name}}</p>
      <p class="role" [class.admin]="this.profileData()?.role === 'Admin'">{{this.profileData()?.role}}</p>
    </div>
  </div>
</footer>